mod_ondas/scripts/scripts_old_testes/gfs12/work/wind.ww3
mod_ondas/scripts/scripts_old_testes/wrf_metarea5_00_20190911000
mod_ondas/scripts/nohup.out
mod_ondas/scripts/rodadateste_2019080612.txt
mod_ondas/scripts/scripts_old_testes/ttt.txt
mod_ondas/scripts/rodadateste_*
